{% extends 'base.html' %}

{% block title %}
    Fixed Point
    {{ super() }}
{% endblock %}

{% block content %}
<div class="main-container">
    <h1>Fixed Point</h1>
    <form method="post">
        <label for="funcion">G(x) = x Function:</label>
        <input type="text" name="funcion" id="funcion" class="input-field" value="{{ request.form.get('funcion', '') }}" placeholder="x**2 - E**(x/2)" required>
        <span id="error_message_id" class="error inactive">Please enter a valid input</span>
        
        <label for="variable">Variable:</label>
        <input type="text" name="variable" id="variable" class="input-field" value="{{ request.form.get('variable', '') }}" pattern="[a-zA-Z]{1}" required>
        <span id="error_message_id" class="error inactive">Please enter a single letter</span>
        
        <label for="p0_value">P0 value:</label>
        <input type="text" name="p0_value" id="p0_value" class="input-field" value="{{ request.form.get('p0_value', '') }}" pattern="-?\d+(\.\d+)?" required>
        <span id="error_message_id" class="error inactive">Please enter a valid number</span>
        
        <label for="precision">Decimal Presition:</label>
        <input type="text" name="precision" id="precision" class="input-field" value="{{ request.form.get('precision', '') }}" pattern="\d+" required>
        <span id="error_message_id" class="error inactive">Please enter a valid number</span>

        <label for="max_iterations">Max Iterations:</label>
        <input type="text" name="max_iterations" id="max_iterations" class="input-field" value="{{ request.form.get('max_iterations', '') }}" pattern="\d+" required>
        <span id="error_message_id" class="error inactive">Please enter a valid number</span>
        
        <input type="submit" value="Calculate" class="fixed-point-button">
    </form>
    
    {% if resultado %}
    <h2>Result:</h2>
    <h3>{{ resultado }}</p>
    {% endif %}
        
</div>

{% block iteration_table %}
{% if iterations %}
<table>
    <thead>
        <tr>
            <th>k</th>
            <th>Xk</th>
        </tr>
    </thead>
    <tbody>
        {% for iteration in iterations %}
        <tr>
            <td>{{ iteration.iteration }}</td>
            <td>{{ iteration.p }}</td>
            <!-- ... (otros datos de iteración) ... -->
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}
{% endblock %}
{% endblock %}