{% extends 'base.html' %}

{% block title %}
    Home
    {{ super() }}
{% endblock %}

{% block content %}
<figure class="logo-container">
    <img src="/static/img/rootmaster-logo-w.svg" alt="RootMaster" class="logo">
    <span>Beta 1.3</span>
</figure>
<div class="main-container">
    <h1>Welcome</h1>
    <h3>Please select your method</h3>
    <div class="welcome-card">
        <a href="/method/bisection" class="bisection-button">Bisection</a>
        <a href="/method/newton" class="newton-button">Newton-Raphson</a>
        <a href="/method/secant" class="secant-button">Secant</a>
        <a href="/method/fixed-point" class="fixed-point-button">Fixed Point</a>
        <a href="/method/muller" class="muller-button">Müller</a>
    </div>
</div>
{% endblock %}